:root{
    --Very-dark-desaturated-blue: #23303e;
    --Dark-grayish-blue: #818498;
    --Dark-desaturated-cyan: #25564b;
    --Dark-moderate-cyan: #458c7e;
    --Dark-blue: #19536b;
    --Off-white: #fcfcfc;
    --Grayish-blue: #cdd5dc89;
    --Very-dark-grayish-blue: #5a636c;
    --Footer-background: #8AD2C4;
    --Yellow: #fad400;
    --White: #ffffff;
}

html{
    font-size: 62.5%;
}

body{
    min-height: 100vh;
}

/* header / nav */
.header-container{
    background-image: url(../images/mobile/image-header.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 100%;
    min-height: 52em;
}

.header-top{
    padding: 1.6em 2.8em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburguer-menu{
    cursor: pointer;
}

.nav{
    min-width: 100%;
    position: absolute;
    overflow: hidden;
}

.nav-list-content{
    max-width: 90%;
    margin: auto;
    padding: 2em 2.8em;
    transition: all .4s;
    transform: translateY(-38em);
}

.nav-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--White);
    margin: 0 auto;
    padding: 2em 0;
    list-style: none;
    gap: 2em;
}

.nav-list li{
    min-width: 100%;
    text-align: center;
}

.nav-list li a{
    font-family: 'Barlow', sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    text-decoration: none;
    display: block;
    max-width: 60%;
    margin: auto;
    color: var(--Dark-grayish-blue);
    padding: 1em 0;
}

.nav-list li a:hover{
    background-color: var(--Yellow);
    border-radius: 2em;
    font-family: 'Fraunces', serif;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--Very-dark-desaturated-blue);
}

.nav-detail{
    margin-left: auto;
    width: 3em;
    height: 3em;
    background-image: linear-gradient(133deg, transparent 49.83%, var(--White) 52.36%);
} 

.headerTitle-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10em auto 0;
    max-width: 90%;
    gap: 2em;
}

.header-title{
    font-family: 'Fraunces', serif;
    font-size: 4rem;
    text-transform: uppercase;
    color: var(--White);
    margin: 0;
    text-align: center;
    letter-spacing: .1em;
}
/* end header / nav */


/* main */
.main, .main-content{
    min-width: 100%;
}

.img-container{
    min-width: 100%;
    min-height: 40em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-transform{
    background-image: url(../images/mobile/image-transform.jpg);
}

.img-stand-out{
    background-image: url(../images/mobile/image-stand-out.jpg);
}

.img-graphic-design{
    background-image: url(../images/mobile/image-graphic-design.jpg);
}

.img-photography{
    background-image: url(../images/mobile/image-photography.jpg);
}

.banner-agency{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    min-height: 40em;
    background-color: var(--Off-white);
    padding: 3.6em 2.8em;
    box-sizing: border-box;
    gap: 2.8em;
}

.banner_title{
    font-family: 'Fraunces', serif;
    font-size: 2.8rem;
    font-weight: bold;
    text-align: center;
    color: var(--Very-dark-desaturated-blue);
    margin: 0;
}

.banner_text{
    font-family: 'Fraunces', serif;
    font-size: 1.6rem;
    font-weight: lighter;
    line-height: 1.8em;
    color: var(--Dark-grayish-blue);
    text-align: center;
    margin: 0;
}

.banner_link{
    font-family: 'Fraunces', serif;
    font-weight: bold;
    font-size: 1.6rem;
    color: var(--Very-dark-desaturated-blue);
    text-decoration: none;
    text-transform: uppercase;
}

.img-graphic-design, .img-photography{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-text-content{
    padding: 24em 2.8em 0;
    text-align: center;
}

.img-graphic-design_title, .img-photography_title{
    margin: 0;
    font-family: 'Fraunces', serif;
    font-size: 2.8rem;
}

.img-graphic-design_title, .img-graphic-design_text{
    color: var(--Dark-desaturated-cyan);
}

.img-photography_title, .img-photography_text{
    color: var(--Dark-blue);
}

.img-graphic-design_text, .img-photography_text{
    font-family: 'Fraunces', serif;
    font-size: 1.4rem;
    line-height: 2rem;
    max-width: 30em;
}

.testimonials-container{
    min-width: 100%;
    background-color: var(--Off-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5em;
}

.testimonials-title{
    font-family: 'Fraunces', serif;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1em;
    color: var(--Dark-grayish-blue);
}

.testimonials-content{
    min-width: 100%;
    margin-top: 6em;
}

.client-testimonial{
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 6.2em;
    box-sizing: border-box;
    /* background-color: #458c7e; */
}

.img-client{
    max-width: 8em;
    max-height: 8em;
}

.img-client img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.testimonial_text{
    font-family: 'Barlow', sans-serif;
    font-size: 1.4rem;
    text-align: center;
    max-width: 26.8em;
    color: var(--Very-dark-grayish-blue);
    line-height: 1.6em;
    margin-top: 2.2em;
}

.name-client{
    font-family: 'Fraunces', serif;
    font-size: 1.4em;
    color: var(--Very-dark-desaturated-blue);
    margin-bottom: 0;
}

.profession-client{
    font-family: 'Barlow', sans-serif;
    font-size: 1.2rem;
    color: var(--Dark-grayish-blue);
}

.box-client-testimonial-01{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-client-testimonial-02{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 7.2em;
}















/* troca imagem */
@media screen and (min-width: 33.18em){
    .header-container{
        background-image: url(../images/desktop/image-header.jpg);
    }

    .img-graphic-design{
        background-image: url(../images/desktop/image-graphic-design.jpg);
    }

    .img-photography{
        background-image: url(../images/desktop/image-photography.jpg);
    }
}

@media screen and (min-width: 50em){
    /* header / nav */
    .header-top{
        display: block;
    }

    .hamburguer-menu, .nav-detail{
        display: none;
    }

    .nav{
        min-width: initial;
        position: static;
        overflow: initial;
    }

    .nav-list-content{
        transform: translateY(0em);
    }

    .nav-list{
        background-color: initial;
        flex-direction: row;
        align-items: normal;
        margin: 0;
        padding: 0;
        gap: 2em;
    }

    .nav-list li{
        min-width: initial;
        text-align: center;
    }

    .nav-list li a{
        color: var(--White);
        max-width: initial;
        padding: 1em 1em;
    }

    .nav-list li a:hover{
        background-color: var(--Grayish-blue);
        border-radius: 2em;
        font-family: 'Fraunces', serif;
        text-transform: uppercase;
        color: var(--White);
    }

    .header-nav-dasktop-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    /* end header / nav */


    /* main */
    .main-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }

    .img-transform{
        grid-column: 2;
        grid-row: 1;
    }

    .banner-transform{
        grid-column: 1;
        grid-row: 1;
    }

    .banner-agency{
        align-items: start;
    }

    .banner_text, .banner_title{
        text-align: start;
    }

    .img-stand-out{
        grid-column: 1;
        grid-row: 1;
    }

    .banner-stand-out{
        grid-column: 2;
        grid-row: 1;
    }

    .testimonials-content{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
    }
}